---
layout: page
title:  Home
weight: 1
---


<!-- This loops through the paginated posts -->
<div class="posts">
  {% for post in paginator.posts %}
    <div class="post">  
      <h1>
        <a href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
          {% if post.category != 'minutes' %}
            <small>{{ post.date | date: "%B %-d, %Y" }}</small>
          {% endif %}
        </a>
      </h1>
      <p class="post-meta">
        Published by <a href="https://github.com/{{ post.author }}">{{ post.author }}</a>
      </p>


      <div class="content">
        {{ post.content }}
      </div>
    </div>
  {% endfor %}
</div>


<!-- Pagination links -->
<div class="content">
  <ul class="pager">
  {% if paginator.next_page %}
  <li class="previous"><a href="{{ site.baseurl }}/page-{{ paginator.next_page }}"><span aria-hidden="true">&larr;</span> Older</a></li>
  {% else %}
  <li class="previous"><span><span aria-hidden="true">&larr;</span> Older</span></li>
  {% endif %}

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <li class="next"><a href="{{ site.baseurl }}/">Newer <span aria-hidden="true">&rarr;</span></a></li>
    {% else %}
      <li class="next"><a href="{{ site.baseurl }}/page-{{ paginator.previous_page }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
  {% else %}
  <li class="next"><span>Newer <span aria-hidden="true">&rarr;</span></span></li>
  {% endif %}
  </ul>
</div>
