---
layout: home
title: Napier Developers Society
---


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="post">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p>{{ post.date | date: "%B %-d, %Y" }}</p>

    <div class="content">
      {{ post.content }}
    </div>
  </div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}

  {% assign page_start = paginator.page | minus: 2 %}
  {% assign page_end = paginator.page | plus: 2 %}
  {% assign page_end_max = paginator.total_pages | minus: 1 %}

  <!-- Stop the loop going out of bounds -->
  {% if page_start < 1 %}
    {% assign page_start = 1 %}
  {% endif %}
  {% if page_end > paginator.total_pages %}
    {% assign page_end = paginator.total_pages %}
  {% endif %}

  <div class="pagination-centered">
    <ul class="pagination">
      {% if paginator.previous_page %}
        <li class="arrow"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">&laquo;</a></li>
      {% endif %}

      {% if page_start > 2 %}
        <li><a href="/">1</a></li> <li class="unavailable"><a href="">&hellip;</a></li>
      {% elsif page_start > 1 %}
        <li><a href="/">1</a></li>
      {% endif %}

      {% for page in (page_start..page_end) %}

        {% if page == 1 %}
          {% if page == paginator.page %}
            <li class="current"><a href="#">{{ page }}</a></li>
          {% else %}
            <li><a href="/">{{ page }}</a></li>
          {% endif %}
        {% else %}

          {% if page == paginator.page %}
            <li class="current"><a href="#">{{ page }}</a></li>
          {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if page_end < page_end_max %}
        <li class="unavailable"><a href="">&hellip;</a></li><li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
      {% elsif page_end <= page_end_max %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
      {% endif %}

      {% if paginator.next_page %}
        <li class="arrow"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">&raquo;</a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}