{% assign pages = site.pages | sort:"weight"  %}
<header>
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nds-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse" id="nds-navbar-collapse-1">
		<nav class="nav navbar-nav pull-right">
			{% for p in pages %}
				<li role="presentation" {% if p.url == page.url %}class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
			{% endfor %}
		</nav>
	</div>
	<div class="bottom">
		<div class="container">
			<div class="pull-right">
				{% if page.categories %}
				{% else %}
					<h1 id="page_title">{{ page.title }}</h1>
				{% endif %}
			</div>
		</div>
	</div>
</header>
<div class="header-fadeout"></div>
