{% comment %} (For kline's sake)
<html>
	<body>
{% endcomment %}
		{% include 115_footer.html %}

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                <script src="js/bootstrap.min.js"></script>
                <script src="js/timeago.jquery.min.js"></script>

                <script>
                        $(document).ready(function(){
                                $("time.timeago").timeago();
                        });
                </script>
        </body>
</html>
