<footer>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<p><small>© Napier Developers Society 2015</small></p>
				<p>
					{% if site.github %}
					<a href="{{ site.github }}"><i class="fa fa-2x fa-github-square"></i></a>
					{% endif %}
					{% if site.facebook_page %}
					<a href="{{ site.facebook_page }}"><i class="fa fa-2x fa-facebook-square"></i></a>
					{% endif %}
					{% if site.twitter %}
					<a href="{{ site.twitter }}c"><i class="fa fa-2x fa-twitter-square"></i></a>
					{% endif %}
				</p>
			</div>
			<div class="col-md-3 col-md-offset-6">
				<small class="pull-right">Napier Developers Society is a part of the <a href="https://napierstudents.com/">Napier Students Association</a>, a registered Scottish charity (SC012506)</small>
			</div>
		</div>
	</div>
</footer>
