		<!-- Footer --> 
		<script src="/assets/js/vendor/jquery.js"></script>
		<script src="/assets/js/foundation/foundation.js"></script>
		<script src="/assets/js/foundation/foundation.orbit.js"></script>
		<script>
		  $(document).foundation();
		</script>

		<footer class="row">
			<div class="large-12 columns">
				<hr />
				<div class="row">
					<div class="large-6 columns">
						<p>&copy; Copyright Napier Developer Society.</p>
					</div>
				</div>
			</div> 
		</footer>
	</body>
</html>
