<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="iwI3IunrXTXT3xQk6DpJ_hlXjVZ-MCnWeaEBlO_ohrk" />

  <title>{{ page.title }} &middot; {{ site.title }}</title>

  <!-- Core Styles -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
  <!-- Add custom styling to the bootstrap-theme.min.css file -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-theme.min.css">
</head>

<body>
