<!-- Nav and Banner -->

<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Napier Developer Society</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#about">About</a></li>
        <li><a href="#events">Events</a></li>
        <li><a href="#join-us">Join Us</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
        <li><a herf="#wiki">Wiki</a></li>
      </ul>
    </section>
  </nav>
</div>
  
<!-- End Nav and Banner -->
