<!-- Nav and Banner -->

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <nav id="navbar" class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{% if page.navTab == 'about' %}active{% endif %}"><a href="/about/">About</a></li>
        <li class="{% if page.navTab == 'members' %}active{% endif %}"><a href="/members/">Members</a></li>
        <li class="{% if page.navTab == 'join' %}active{% endif %}"><a href="/join/">Join</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a target="_blank" href="{{ site.facebook_page }}">Facebook Page</a></li>
        <li><a target="_blank" href="{{ site.facebook_group }}">Facebook Group</a></li>
        <li><a target="_blank" href="{{ site.github }}">GitHub</a></li>
        <li><a target="_blank" href="{{ site.gitter }}"><img src="//badges.gitter.im/Join Chat.svg" alt="Gitter"></a></li>
      </ul>
    </nav>
    
  </div><!-- /.container -->
</nav><!-- /.navbar -->

<!-- End Nav and Banner -->
