<!-- Large panel for explaining NDS -->
<div class="panel">
  <h4>What is NDS?</h4>
  <p>
    Napier Developers Society is a group of students who work together
    to develop fun projects and their skills. We have a very open
    attitude to ideas and welcome creativity from all of our members.
    Our goal is to have fun, to learn and help prepare people for their
    future in the industry.
  </p>
</div>


<!-- Large panel for our github page -->
<div>
  <h4>Connect with us:</h4>
  <ul class="side-nav">
    <li><a target="_blank" href="{{ site.github }}">GitHub</a></li>
    <li><a target="_blank" href="{{ site.facebook_page }}">Facebook Page</a></li>
    <li><a target="_blank" href="{{ site.facebook_group }}">Facebook Group</a></li>
  </ul>
</div>
