<!-- Large panel for explaining NDS -->
<div class="large-4 columns">
  <div class="panel">
    <h5>What is NDS</h5>
    <p>
      Napier Developers Society is a group of students who work together
      to develop fun projects and there skills. We have a very open
      attitude to ideas and welcome creativity from all of our members.
      Our goal is to have fun, to learn and help prepare people for their
      future in the industry.
    </p>
  </div>
</div>

<!-- Large panel for upcoming events -->
<div class="large-4 columns">
  <div class="panel">
    <h5>Upcoming Events</h5>
  </div>
</div>

<!-- Large panel for our github page -->
<div class="large-4 columns"> 
  <div class="panel">
    <h5>Workspace:</h5>
    <p>Maybe a short description about the github team. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed lectus felis. Phasellus rhoncus lectus in felis feugiat, in pharetra neque interdum.</p>
    <a href="https://github.com/NapierDevSoc" class="small round button">GitHub</a>          
  </div>
</div>