.top-bar .name h1 a {
  width: 100%; /* Override the default 50% */
}

.title-row {
  padding-top: 15px;
}


[class*="column"] + [class*="column"]:last-child {
 float: left; 
}

.post {
  border-bottom: #000 solid 1px;
  margin-bottom: 1em;
}
.posts .post:last-child {
  border-bottom: none;
}