---
layout: default
type: home
---
<div class="row">
    <div class="small-12 large-12 columns">
      <h1>Napier Developers Society</h1>
      
      <hr />
    </div>
</div>

<!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
<p>
<div class="row">
	<ul class="example-orbit" data-orbit>
		<li>
			<img src="http://placehold.it/1000x400&text=[ img 1 ]" alt="slide 1" />
			<div class="orbit-caption">
				Caption One.
			</div>
		</li>
		<li>
			<img src="http://placehold.it/1000x400&text=[ img 2 ]" alt="slide 2" />
			<div class="orbit-caption">
				Caption Two.
			</div>
		</li>
		<li>
			<img src="http://placehold.it/1000x400&text=[ img 3 ]" alt="slide 2" />
			<div class="orbit-caption">
				Caption Three.
			</div>
		</li>
	</ul>
</div>
<p>

<main class="posts">
{{content}}
</main>



