{% include 010_page_opening.html %}

<div class="container">

  <!-- post Content & sidebar -->
  <div class="row">
    <div class="col-md-9">
      {{ content }}
    </div>

    <div class="col-md-3 sidebar">
      <h3>Upcoming Events</h3>
	  {% if site.tags.events %}
	{% for event in site.tags.events reversed limit:5 %}
	  <p><b><a href="{{ event.url }}">{{ event.title }}</a></b> - {{ event.date | date: "%F" }} @ {{ event.time }}</p>
	{% endfor %}
	{% else %}
	 <p> No upcoming events at this time </p>
	{% endif %}
      <h3>Latest News Posts</h3>
	  {% if site.tags.news %}
        {% for post in site.tags.news limit:5 %}
          <p><b><a href="{{ post.url }}">{{ post.title }}</a></b> by <a href="https://github.com/{{ post.author }}">{{ post.author }}</a> - <time class="timeago" datetime="{{ post.date | date: "%FT00:00:00Z" }}">{{ post.date | date: "%F" }}</time>
        {% endfor %}
		{% else %}
		<p> No news items at this time </p>
		{% endif %}
    </div>
  </div>

</div>

{% include 110_page_closing.html %}
