---
layout: page
title:  Events
weight: 20
---

<div class="posts">
  {% for post in site.categories.events reversed limit:5 %}
    <div class="post">  
      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
          {% if post.category != 'minutes' %}
            <small>{{ post.date | date: "%B %-d, %Y" }}</small>
          {% endif %}
        </a>
      </h3>
      <p class="post-meta">
        Published by <a href="https://github.com/{{ post.author }}">{{ post.author }}</a>
      </p>


      <div class="content">
        {{ post.excerpt | remove: '<h2>' | remove: '</h2>' }}
      </div>
    </div>
  {% endfor %}
</div>
